body {
    background-color: rgb(237, 243, 240);
    color: black;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}
header {
    background-color: rgba(6, 255, 255, 0.014);
    color: rgb(86, 102, 117);
    margin: 0px;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 12pt;
    font-family: Helvetica, sans-serif;

}

.chas {
    display: inline-block;
    margin: 10px;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(86, 102, 117);
    transition: 0.5s 0.4s;
    cursor: pointer;
}

.chas:hover {
    color: rgb(57, 206, 191);
    transition: 0.5s ;

}


.navi {
    height: 25px;
    width: auto;
    border-radius: 4px;
    display: inline;
    padding: 5px;
    margin-right: 5px;
    transition: 1s 0.4s;

}

.navi :hover {
    color: rgb(57, 206, 191);
    transition: 0.5s 0.2s;
    box-shadow: rgb(46, 163, 151)  0px 3px;
}

.knop {
    display: inline-block;
    color: rgb(0, 184, 165);
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
    width: 180px;
    height: 50px;
    line-height: 50px;
    margin-right: 90px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}

footer {

    color: bisque;

    margin: 0px;
    padding: 20px;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    font-size: 16pt;
    font-family: Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
main {
    background-color: rgba(248, 248, 248, 0.959);
    color: black;
    margin: 0px 0px 88px;
    padding: 20px;
    font-size: 14pt;
    font-family: Helvetica, sans-serif;
}
a {
    color: rgb(86, 102, 117);
    text-decoration: none;
    transition: 1s;
}