.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1296px;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card {
    width: 306px;
    margin: 12px;
    background-color: #fff;
    padding: 16px 12px 10px 12px;
    box-shadow: 0 4px 20px #11ccd142;
    border-radius: 15px;
    transform: scale(1);
    transition: 0.5s;
}

.card-image {
    text-align: center;
}

.card-image img {
    width: 264px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card-date {
    color: #7a838b;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.card-title {
    font-size: 16px;
    line-height: 28px;
    color: #333;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: left;
    width: 260px;
}

.card-text {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #333;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
    width: 270px;
}

.card-action {
    display: flex;
    justify-content: space-between;
    width: 235px;
    margin: 10px auto;
}

.button:hover {
    color: #11ccd1;
}

.button {
    font-size: 15px;
    color: #069ea1;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.card-text-next {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #333;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
    width: 270px;
    display: none;
}